div.settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.oauth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.oauth > input {
    margin-right: 20px;
    margin-bottom: 3rem;
}