@font-face {
    font-family: 'Inter';
    src: url('/Inter.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

*{
    color: white;
    font-family: Inter, Verdana, sans-serif;
}

body {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#root{
    height: 100%;
    width: 100%;
    display: flex;
}