*{
    color: white;
    font-family: Verdana, sans-serif;
}

body {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#root{
    height: 100%;
    width: 100%;
    display: flex;
}