div.header{
    width: 16%;
    min-width: 250px;
    height: 100%;
    padding: 10px 0 10px 15px;
    background: rgba(10,10,10,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}